In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns

In [6]:
df = pd.read_excel(r"C:\Users\Abhay Mahajan\ManualPositive.xlsx")

In [8]:
df.head()

,username,user_url,num_stars,review_text,lang,review_date,type,scraped_from,Relevant,Sentiment,Topic,Key words,Objects,Names
0,Nate Neel,https://www.google.com/maps/contrib/1121030547...,5,"Waterfront to fish or just relax, great place ...",en,2020-10-20 22:04:09,Park,Google Maps,yes,positive,walkability,"picnic,hangout,relax",NaN,NaN
1,Johnny Evangelista,https://www.google.com/maps/contrib/1081264861...,5,"Tennis courts, soccer field, 1 basketball net....",en,2021-04-22 11:54:53,Park,Google Maps,yes,positive,sports facilities,"tennis courts,soccer field","tennis courts,soccer field , basketball net",NaN
2,Desmond Yu,https://www.google.com/maps/contrib/1174595133...,5,"Kids can play in the playground, enjoying outd...",en,2021-04-22 11:21:25,Park,Google Maps,yes,positive,sports facilities,"playground,game,soccer","park,lake,soccer,bench,playground",NaN
3,Desmond Yu,https://www.google.com/maps/contrib/1174595133...,5,Couples can take a walk or find a bench and ch...,en,2021-04-22 11:21:25,Park,Google Maps,yes,positive,walkability,"playground,bench.route","park,lake,soccer,bench,playground",NaN
4,irene karpontinis,https://www.google.com/maps/contrib/1077994536...,5,I took a most enjoyable stroll admiring the lu...,en,2018-06-22 11:21:25,Park,Google Maps,yes,positive,walkability,stroll,"athletic fields,park,cycling paths,",NaN

In [9]:
df.drop(['Key words', 'Objects' , 'Names' , 'user_url' , 'review_date'], axis=1, inplace=True)

In [10]:
df.head()

,username,num_stars,review_text,lang,type,scraped_from,Relevant,Sentiment,Topic
0,Nate Neel,5,"Waterfront to fish or just relax, great place ...",en,Park,Google Maps,yes,positive,walkability
1,Johnny Evangelista,5,"Tennis courts, soccer field, 1 basketball net....",en,Park,Google Maps,yes,positive,sports facilities
2,Desmond Yu,5,"Kids can play in the playground, enjoying outd...",en,Park,Google Maps,yes,positive,sports facilities
3,Desmond Yu,5,Couples can take a walk or find a bench and ch...,en,Park,Google Maps,yes,positive,walkability
4,irene karpontinis,5,I took a most enjoyable stroll admiring the lu...,en,Park,Google Maps,yes,positive,walkability

In [11]:
names = pd.read_excel(r"C:\Users\Abhay Mahajan\Desktop\MITACS\Names.xlsx" , header=None)

In [12]:
names

                                     0     1
0     Parc de la Capture-d'Ethan-Allen  Park
1                          Parc Mohawk  Park
2                   Parc Marcel-Laurin  Park
3                   Parc Marcel-Laurin  Park
4                   Parc Marcel-Laurin  Park
...                                ...   ...
2012                Parc du Mont-Royal  Park
2013                Parc du Mont-Royal  Park
2014                Parc du Mont-Royal  Park
2015                Parc du Mont-Royal  Park
2016                Parc du Mont-Royal  Park

[2017 rows x 2 columns]

In [13]:
names = names.rename(columns={0:'Names' , 1 : 'Type'})

In [14]:
names

                                 Names  Type
0     Parc de la Capture-d'Ethan-Allen  Park
1                          Parc Mohawk  Park
2                   Parc Marcel-Laurin  Park
3                   Parc Marcel-Laurin  Park
4                   Parc Marcel-Laurin  Park
...                                ...   ...
2012                Parc du Mont-Royal  Park
2013                Parc du Mont-Royal  Park
2014                Parc du Mont-Royal  Park
2015                Parc du Mont-Royal  Park
2016                Parc du Mont-Royal  Park

[2017 rows x 2 columns]

In [15]:
# Number of Unique Names
len(pd.unique(names['Names']))

286

In [16]:
# Number of reviews belonging to parks and subways
df['type'].value_counts()

Park      1966
Subway      50
Name: type, dtype: int64

In [17]:
df['Sentiment'].value_counts()

positive    1976
negative      40
Name: Sentiment, dtype: int64

In [18]:
df['Topic'].value_counts()

walkability          766
sports facilities    550
amenities            210
maintenance          149
cleanliness           91
green spaces          59
accessibility         43
parking               37
cycling               26
architecture          25
transit                8
construction           7
management             2
Name: Topic, dtype: int64

In [24]:
names['Names'].unique()

array(["Parc de la Capture-d'Ethan-Allen", 'Parc Mohawk',
       'Parc Marcel-Laurin', 'Parc du Quai-de-la-Tortue',
       'Parc du Mont-Royal', 'Parc David-Lefebvre', 'Parc Saint-Anne',
       'Parc Jean-Brillant - Côte-des-Neiges–Notre-Dame-de-Grâce',
       'Parc Jean-Duceppe', 'Place des Fleurs-de-Macadam', 'Parc Coffee',
       'Parc du Bois-Franc', 'Place du Canada', 'Parc Jeanne-Mance',
       "Parc du Vaisseau-d'Or", 'Parc Notre-Dame-de-Grâce',
       'Parc Eusèbe-Ménard', 'Parc Madeleine-Parent', 'Parc Summerlea',
       'Parc du Sault-au-Récollet', 'Parc L’Archevêque', 'Parc Painter',
       'Parc Étienne-Desmarteau', 'Parc Pierre-Blanchet',
       'Parc Hartenstein', 'Parc Loyola',
       'Parc Marie-Claire-Kirkland-Casgrain',
       'Parc Pierre-Elliott-Trudeau', 'Parc Ferland',
       'Parc Félix-Leclerc', "Parc-nature de l'Île-de-la-Visitation",
       'Parc Somerled', 'Square Sir-George-Étienne-Cartier',
       'Parc Thérèse-Daviau', 'Place Émilie-Gamelin', 'Parc Joyce',
       'Parc du Souvenir', 'Parc des Carrières',
       'Parc Adrien-D.-Archambault', 'Parc des Rapides-du-Cheval-Blanc',
       'Parc Noël-Sud', 'Parc Harris', 'Parc Angrignon', 'Parc Hayward',
       'Parc de la Confédération', 'Square Dorchester', 'Parc Delorme',
       'Parc de Dieppe', 'Parc LaSalle', 'Parc Saint-Roch',
       'Parc Decelles', 'Parc Trenholme', 'Parc Mackenzie-King',
       'Parc J.-Albert-Gariépy', 'Parc Lucie-Bruneau', 'Parc Rutherford',
       'Parc Henri-Julien', 'Parc Maynard-Ferguson', 'Parc Julie-Hamelin',
       'Parc Beaubien', 'Boisé du parc Marcel-Laurin',
       'Parc George-Springate', 'Parc du Fort-Rolland', 'Parc Benny',
       'Parc Stoney Point', 'Parc Gohier', 'Parc Howard',
       'Parc Jean-Marie-Lamonde', 'Parc Baldwin', 'Parc Arthur-Therrien',
       'Parc Beaubien - Outremont', 'Parc Lacharité',
       'Parc de la place publique J.-Armand-Bombardier',
       'Parc Le Carignan', 'Parc Leroux', 'Parc Beurling',
       'Parc Félix-Leclerc - LaSalle', 'Parc Cousineau',
       'Parc-nature du Ruisseau-De Montigny', 'Parc Saint-Donat',
       'Parc Dollier-De Casson', 'Parc Ignace-Bourget',
       'Parc William-Bowie', 'Parc Jean-Brillant', 'Parc Alexander',
       'Parc Marie-Victorin', 'Parc Bourbonnière',
       "Parc de l'Honorable-George-O'Reilly", 'Parc Beaudet',
       'Parc de Beauséjour', 'Parc Raimbault',
       'Parc-nature du Bois-de-Liesse', 'Parc Greendale',
       'Parc de la Petite-Italie', 'Parc Ahuntsic', 'Parc Marin',
       'Place Rodolphe-Rousseau', "Parc de la Marina d'escale",
       'Parc Toussaint-Louverture', 'Parc de Deauville',
       'Parc de la Merci', 'Parc Champdoré', 'Parc Sir-Wilfrid-Laurier',
       'Parc linéaire du Réseau-Vert', 'Place Vauquelin',
       'Parc-nature du Cap-Saint-Jacques', 'Parc Frédéric-Back',
       'Parc des Anciens-Combattants', 'Parc Marlborough',
       'Parc Jeanne-Sauvé', 'Parc Ludger-Duvernay', 'Parc Chamberland',
       'Parc Brook', 'Parc Le Ber', 'Parc Villeray', 'Parc Lafond',
       'Parc Belmont', 'Parc De Mésy', 'Parc des Hirondelles',
       'Parc Wilson', 'Parc Dante', 'Parc Armand-Bombardier',
       'Parc Pie-XII', "Parc-nature du Bois-de-L'Île-Bizard",
       'Bassin de la Brunante', 'Parc Saint-Benoît',
       'Parc Thomas-Chapais', 'Parc Raymond', 'Parc Pierre-Tétreault',
       'Parc Nicolas-Tillemont', 'Parc Oscar-Peterson', 'Parc du Pélican',
       'Parc-nature du Bois-de-Saraguay', 'Parc Roman-Zytynsky',
       'Parc Macdonald', 'Parc Daniel-Johnson', 'Parc Woodland',
       'Parc Devonshire', 'Parc De La Vérendrye', 'Parc Louis-Riel',
       'Parc Maisonneuve', 'Parc Marcelin-Wilson', 'Le Champ-de-Mars',
       'Parc des Royaux', 'Parc Alexis-Nihon', 'Parc Pratt',
       'Parc de la Reine-Élisabeth', 'Parc J.-Arthur-Champagne',
       'Parc Ouellette', 'Parc Sainte-Bernadette',
       "Parc du Bout-de-l'Île", 'Parc Saint-Valérien', 'Parc Grovehill',
       'Parc Notre-Dame-des-Neiges', 'Parc Gilbert-Layton',
       'Parc Jean-Drapeau', 'Parc Saint-Laurent', 'Parc Morgan',
       'Parc Van Horne', 'Parc Grier', 'Parc Monseigneur-J.-A.-Richard',
       'Parc des Rapides', 'Parc de la Fontaine', 'Parc Houde',
       'Parc Samuel-Morse', 'Parc du Bassin-à-Gravier', 'Parc Rougemont',
       'Parc de Louisbourg', 'Parc Beaulac', 'Parc Jarry',
       'Place Alice-Girard', 'Parc de la Rive-Boisée',
       'Square Saint-Louis', 'Parc Kirkland', 'Parc Outremont',
       'Parc Philippe-Laheurte', 'Parc Dickson – Pierre-Bédard',
       'Parc Desmarchais', 'Parc Napoléon-Sénécal',
       'Parc Wilfrid-Bastien', 'Parc Vinet', 'Parc Saint-Louis',
       'Parc Hébert', 'Parc Labelle', 'Golf municipal de Montréal',
       'Parc du Père-Marquette', 'Parc La Fontaine',
       'Parc-nature de la Pointe-aux-Prairies', "Parc Carlos-D'Alcantara",
       'Parc Yves-Thériault', 'Parc Lomer-Gouin',
       'Parc Raymond-Préfontaine', 'Parc de West-Vancouver',
       'Parc Aimé-Léonard', 'Parc Tolhurst', 'Parc Saint-Gabriel',
       'Parc Liébert', 'Parc de la Louisiane', 'Parc Lalancette',
       'Square Dézéry', 'Parc Gédéon-De Catalogne', 'Parc Saint-Émile',
       'Parc Dollard-Morin', 'Parc Saint-Simon-Apôtre', 'Parc De Gaspé',
       "Parc de l'Aqueduc", 'Parc Petit', 'Parc Riverside',
       "Parc de l'Ukraine", 'Parc Aimé-Caron', 'Parc Carignan',
       'Parc Clifford', 'Parc Jean-Amyot', 'Place de la Dauversière',
       'Parc du Cours-du-Fleuve', 'Parc Ovila-Pelletier', 'Parc Radisson',
       'Parc de Turin', 'Parc Théodore', 'Parc Lacoursière',
       "Parc de l'Ancienne-Pépinière", 'Parc Lawrence',
       'Parc Gabriel-Lalemant', 'Parc Hochelaga', 'Parc des Vétérans',
       "Parc de l'école secondaire de la Pointe-aux-Trembles",
       'Parc de Peterborough', 'Parc Antenne Longue-Pointe',
       'Parc des Faubourgs', 'Parc Honoré-Mercier',
       'Parc de la Promenade-Bellerive', 'Parc Magnan',
       'Domaine Saint-Paul', 'Parc Goncourt', 'Parc Giuseppe-Garibaldi',
       'Parc Paquin', 'Parc Rosemont', 'Parc Pierre-Bédard',
       'Parc De Salaberry', 'Parc René-Goupil', 'Parc Saint-Clément',
       'Parc Sainte-Odile', 'Parc Sainte-Yvette', 'Parc Saint-Victor',
       'Parc Médéric-Martin', 'Parc Pierre-Bernard',
       'Parc du Pied-du-Courant', 'Parc Francesca-Cabrini',
       "Parc de l'Orée-du-Fleuve", 'Parc Moulin-du-Rapide',
       'Parc des Pins', 'Parc François-Perrault',
       'Parc Clément-Jetté Sud', 'Parc François-Vaillancourt',
       'Parc Sauvé', 'Parc Oakwood', 'Parc George-Vernot',
       'Parc du Boisé-Jean-Milot', 'Parc Saint-Georges', 'Lionel-Groulx',
       'Vendôme', 'Peel', 'Namur', 'Outremont', 'Atwater',
       'Saint-Laurent', 'Place-des-Arts', 'Monk', 'Acadie', 'Snowdon',
       'Radisson', 'Berri-UQAM', 'Champ-de-Mars', 'Préfontaine', 'McGill',
       'Sherbrooke', 'Square-Victoria–OACI', 'Cartier', 'Plamondon',
       'Jolicoeur', 'Bonaventure', "Place-d'Armes", 'Angrignon', 'Pie-IX',
       'Frontenac', 'Jean-Drapeau'], dtype=object)

In [148]:
s = df.loc[1315 ,'review_text']

In [149]:
print(s)

(Translated by Google) Great place to walk with Pitou or just to relax by the river. Large green area where it is nice to spend time.

(Original)
Superbe endroit pour se promener avec Pitou ou pour simplement aller relaxer près du fleuve. Grand espace vert ou il est agréable de passer du temps.

In [150]:
# Cleaning the translated reviews
def clean_translated(review):
    try:
        s = review.split('(Original)')[0].strip()
        s = s.split('(Translated by Google)')[1].strip()
        return s
    except:
        return review

In [151]:
clean_translated(s)

'Great place to walk with Pitou or just to relax by the river. Large green area where it is nice to spend time.'

In [152]:
for i in range(len(df)):
    df.loc[i , 'review_text'] = clean_translated(df.loc[i , 'review_text'])

In [153]:
df.loc[1350 ,'review_text']

'Large park for walking and games for young children\nPlace for ball games stolen ball\nAnd vacant lot\nWater games ect beautiful place'

In [156]:
df['lang'].value_counts()

en       1363
fr        510
es         38
ru          7
pt          6
uk          1
ko          1
el          1
zh-CN       1
ro          1
tr          1
pl          1
iw          1
Name: lang, dtype: int64

In [170]:
# Indentify Where the language is not english because these are the translated texts retaining their original language
no_en = df['lang'].apply(lambda x : x != 'en')

In [171]:
no_en.value_counts()

False    1363
True      569
Name: lang, dtype: int64

In [172]:
df.loc[no_en , 'lang'] = 'en'

In [173]:
df['lang'].value_counts()

en    1932
Name: lang, dtype: int64